// Colors
$color_afbgreen: #9FC418;
$color_afbsemigreen: #D9E8A3;
$color_afbdarkgreen: #A1C51B;
$color_afblightgreen: #E9F1DA;
$color_afbdarkblue: #08508A;
$color_afblightblue: #199FD9;
$palettea: $color_afbdarkgreen;
$paletteb: $color_afbdarkblue;
$palettec: #777;
$paletted: #e68a00;
$palettee: $color_afblightblue;
$palettef: #ff3399;
$palette_bgla: $color_afblightgreen;

